pyinstaller
pyscreeze; platform_system != "Linux"
Xlib; platform_system == "Linux"
pynput
cryptography
pillow
certifi
pywin32; platform_system == "Windows"
wmi; platform_system == "Windows"
xlib
future